.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.8rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cointag_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.8rem;
  flex-wrap: wrap;
}

.cointag {
  padding: 1.2rem;
  border: 1px solid var(--border-color);
  margin: 0.8rem;
  list-style-type: none;
  border-radius: 0.6rem;
  transition: 0.2s;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  outline: none;
}

.cointag__item {
  position: relative;
}

.cointag:active {
  background: #ff416c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff4b2b,
    #ff416c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  color: #fbfbfb;
  border: none;
}

.search-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.8rem 0;
}
.search-container input {
  padding: 1.8rem;
  width: 80vw;
  border: 0.1rem solid var(--border-color);
  outline: none;
  border-radius: 0.6rem;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: 1.8rem;
}
.search-container input:focus {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 600px) {
  .cointag_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
