@font-face {
  font-family: "Hellix";
  src: url("./fonts/Hellix-Regular.woff") format("woff");
}

html,
#root {
  font-size: 62.5%;
}

:root {
  --primary-color: #fbfbfb;
  --secondary-color: #3b3b3b;
  --border-color: #3b3b3b;
}

.dark-theme {
  --primary-color: #3b3b3b;
  --secondary-color: #fbfbfb;
  --border-color: #ff416c;
}

.light-theme {
  --primary-color: #fbfbfb;
  --secondary-color: #3b3b3b;
  --border-color: #3b3b3b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hellix";
}

body,
#root {
  line-height: 1.5;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

/* scroll-bar */

body::-webkit-scrollbar {
  width: 0.6em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.6em rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background: #ff416c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff4b2b,
    #ff416c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ff4b2b,
    #ff416c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  outline: 1px solid slategrey;
}

/* typography */

h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.953rem;
}

li {
  font-size: 1.563rem;
}
a {
  font-size: 1.563rem;
}
